.login-container {
  display: flex;
  height: 100vh;
  background: #f5f3ff;
  flex-direction: row;
}

/* LEFT */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #64d88d, #122e44);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 40px;
}

.main-logo {
  height: 80px;
  margin-bottom: 20px;
}

.login-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.login-left p {
  opacity: 0.9;
  max-width: 300px;
}

/* RIGHT */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(14px);
  border-radius: 14px;
  padding: 40px;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.7s ease-in-out;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.login-btn {
  background: #122e44 ;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 44px;
  transition: transform 0.2s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
}

/* Mobile View */
@media (max-width: 768px) {
  .login-container { flex-direction: column; }
  .login-left { display: none; }
  .glass-card { width: 85%; box-shadow: none; }
}

/* Fade Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}
